<!-- HEADER -->
<mat-toolbar>
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Names app</span>
  <button mat-icon-button (click)="reset()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container *ngIf="config$ | async as config" class="container">
  <!-- SIDEBAR CONTENT -->
  <mat-sidenav mode="side" [(opened)]="config.sidebarIsOpen" class="sidebar">
    <h3>Config</h3>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <mat-select
          [value]="config.color"
          (selectionChange)="updateConfigColor($event.value)"
        >
          <mat-option value="none">none</mat-option>
          <mat-option value="orange">orange</mat-option>
          <mat-option value="black">black</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select
          [value]="config.sort"
          (selectionChange)="updateSort($event.value)"
        >
          <mat-option value="none">none</mat-option>
          <mat-option value="ascending">ascending</mat-option>
          <mat-option value="descending">descending</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content class="main">
    <h3>Names</h3>

    <section>
      <mat-card
        *ngFor="let name of names$ | async; trackBy: trackById"
        [style.background-color]="name.backgroundColor"
        class="card"
      >
        <mat-card-header>
          <mat-card-title [style.color]="name.color">{{
            name.name
          }}</mat-card-title>
          <mat-card-subtitle>{{ name.id }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="name.image" />
        <mat-card-actions>
          <button (click)="toggleColor(name)" mat-icon-button>
            <mat-icon>format_color_fill</mat-icon>
          </button>
          <button (click)="toggleCasing(name)" mat-icon-button>
            <mat-icon>format_bold</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-actions>
          <button (click)="addName()" mat-icon-button>
            <mat-icon>plus_one</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
